<div>
  <select (change)='getPokemonNameStrength($event)'>
    <option value='text' disabled>---Choose one---</option>                         <!-- Scrollbar selection pokemon List to add -->
    <option *ngFor='let pokemon of pokemonsFullList' [value]="pokemon.id + '. ' + pokemon.name" >{{pokemon.name}}
    </option>
  </select>
    <input value='{{ pokemonSelectedIdAndName }}' placeholder='Pokemon Strength' disabled/>      <!-- Show id an name pokemon user select -->
  <button (click)='getSelectedPokemonStrengths(pokemonSelectedIdAndName)'>Add Strength</button>  <!-- Add pokemon in input above in Strength List -->
  <h5>Strong to :</h5>
  <button (click)='clear()'>Clear Strengths</button>                                <!-- Delete all pokemon on strength list -->
  <div class='grid grid-pad'>
    <span *ngFor='let pokemon of selectedPokemonStrengths' class='col-1-10'>        <!-- Show all pokemon on strength list sort by id -->
    <div class='module pokemon'>
      <p class ='id'>Id: {{pokemon.id}}</p><h5>{{pokemon.name}}</h5>
      <button class='delete' (click)='deleteSelectedPokemonStrength(pokemon)'>X</button>  <!-- delete pokemon from the strength list -->
    </div>
    </span>
  </div>
</div>