<div>
  <select (change)='inputPokemonName($event)'>
    <option value='text' disabled>---Choose one---</option>
    <option *ngFor='let pokemon of pokemonsList' [value]="pokemon.id + '. ' + pokemon.name" >{{pokemon.name}}
    </option>
  </select>
  <input value='{{ pokemonName }}' placeholder='Pokemon Name'/>
  <button (click)='getSelectedPokemons(pokemonName)'>Add Strength</button>
  <h5>Strong to :</h5>
  <button (click)='clear()'>Clear Strengths</button>
  <div class='grid grid-pad'>
    <span *ngFor='let pokemon of selectedPokemonStrengths' class='col-1-10'>
    <div class='module pokemon'>
      <span>{{pokemon.name}}</span>
      <button class='delete' (click)='deleteSelectedPokemon(pokemon)'>X</button>
    </div>
    </span>
  </div>
</div>