<h2>My Pokemons</h2>
<div>
  <label>Pokemon name:
    <input #pokemonName />              <!-- User input to Add new pokenon -->
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)='addPokemonToFullList(pokemonName.value); pokemonName.value=null'>add</button> <!-- Add the new pokemon tu full pokemon List-->
</div>

<ul class='pokemons'>
  <li *ngFor='let pokemon of pokemonsFullList'>
    <a routerLink='/detail/{{pokemon.id}}'>
      <span class='badge'>{{pokemon.id}}</span> {{pokemon.name}}
    </a>
    <button class='delete' title='delete pokemon'
      (click)='deletePokemonFromFullList(pokemon)'>x</button>       <!-- Delete pokemon from the full Server List-->
  </li>
</ul>