<div>
  <select (change)='getPokemonNameWeakness($event)'>
    <option value='text' disabled>---Choose one---</option>
    <option *ngFor='let pokemon of pokemonsList' [value]="pokemon.id + '. ' + pokemon.name" >{{pokemon.name}}
    </option>
  </select>
  <input value='{{ pokemonName }}' placeholder='Pokemon Weakness' disabled/>
  <button (click)='getSelectedPokemonWeaknesses(pokemonName)'>Add Weakness</button>
  <h5>Weak to :</h5>
  <button (click)='clear()'>Clear Weaknesses</button>
  <div class='grid grid-pad'>
    <span *ngFor='let pokemon of selectedPokemonWeaknesses' class='col-1-10'>
    <div class='module pokemon'>
      <p class ='id'>Id: {{pokemon.id}}</p><h5>{{pokemon.name}}</h5>
      <button class='delete' (click)='deleteSelectedPokemonWeakness(pokemon)'>X</button>
    </div>
    </span>
  </div>
</div>